body {
  background-color: #222831;
}

.fadeUp {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.project {
  width: 80%;
  margin: auto;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  color: white;
}

#btn {
  display: inline-block;
}

#btnd {
  display: none;
}

.dis {
  display: none;
}

@media (max-width:1600px){
  .project{
      width: 85%;
      /* margin: ; */
  }
  .imgs{
      width: 30rem;
  }
}

@media(max-width:768px) {
  .project {
    width: 100%;
  }

  .pNo {
    margin: 0rem;
  }
}

html {
  scrollbar-width: normal;
  scrollbar-color: #00FFF5 #222831;
}
/* border-radius: 10px; */



::-webkit-scrollbar {
  width: 0.5vw;

  padding: 2rem;
}


::-webkit-scrollbar-track {
  margin: 0.5vw;

  background: #222831;
  border-radius: 6px;

}

::-webkit-scrollbar-thumb {
  background: #00FFF5;

  border-radius: 6px;
}




.scroll-animation {
  opacity: 0;
  transform: translateX(-60px); /* Start 40px lower */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-animation.fade-in {
  opacity: 1;
  transform: translateX(0); /* Move to original position */
}

@media (max-width:500px){

  .pjt{
    margin: 1rem 0rem !important;
}
  .pimg{
    padding: 0px 1rem;
  }

}